{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Currency - Password Reset {% endblock title %}

{% block content %}
<div class="text-center row justify-content-center align-middle">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>
    You should receive them shortly.
</div>
<div class="text-center row justify-content-center align-middle">
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</div>
{% endblock content %}