{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Currency - Password Reset {% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="text-center row justify-content-center align-middle">
        {{ field|as_crispy_field }}
    </div>
    {% endfor %}
    {% if form %}
        <div class="text-center row justify-content-center align-middle">
            <button class="btn btn-outline-secondary btn-sm m-1" type="submit">Save</button>
        </div>
      {% else %}
        <div class="text-center row justify-content-center align-middle">
            Something went wrong...
        </div>
    {% endif %}
    </form>
{% endblock content %}