{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Currency - Contact Us {% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="text-center row justify-content-center align-middle">
        {{ form.email_from|as_crispy_field }}
    </div>
    <div class="text-center row justify-content-center align-middle">
        {{ form.title|as_crispy_field }}
    </div>
    <div class="text-center row justify-content-center align-middle">
        {{ form.message|as_crispy_field }}
    </div>
    <div class="text-center row justify-content-center align-middle">
        <button class="btn btn-outline-secondary btn-sm m-1" type="submit">Send</button>
    </div>
</form>

{% endblock content %}
