{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Currency - Change Password {% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="text-center row justify-content-center align-middle">
        {{ form.old_password|as_crispy_field }}
    </div>
    <div class="text-center row justify-content-center align-middle">
        {{ form.new_password1|as_crispy_field }}
    </div>
    <div class="text-center row justify-content-center align-middle">
        {{ form.new_password2|as_crispy_field }}
    </div>
    <div class="text-center row justify-content-center align-middle">
        <button class="btn btn-outline-secondary btn-sm m-1" type="submit">Save</button>
    </div>
</form>
{% endblock content %}