{% extends 'base.html' %}

{% block title %}Currency - Rates list{% endblock title %}

{% block content %}

<a class="btn btn-outline-secondary btn-sm m-1" href="{% url 'rate:download-csv' %}" role="button">Download .CSV</a>
<a class="btn btn-outline-secondary btn-sm m-1" href="{% url 'rate:download-xlsx' %}" role="button">Download .XLSX</a>

{% if object_list %}
    <table class="table table-bordered table-hover table-sm text-center table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Created</th>
                <th scope="col">Amount</th>
                <th scope="col">Source</th>
                <th scope="col">Currency Type</th>
                <th scope="col">Type</th>
                {% if request.user.is_superuser %}
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for rate in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ rate.id }}</td>
                <td>{{ rate.created }}</td>
                <td>{{ rate.amount }}</td>
                <td>{{ rate.get_source_display }}</td>
                <td>{{ rate.get_currency_type_display }}</td>
                <td>{{ rate.get_type_display }}</td>
                {% if request.user.is_superuser %}
                <td><a class="btn btn-outline-secondary btn-sm m-1" href="{% url 'rate:edit' pk=rate.id %}"  role="button">Edit</a></td>
                <td><a class="btn btn-outline-secondary btn-sm m-1" href="{% url 'rate:delete' pk=rate.id %}" role="button">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Rates list is empty.
{% endif %}

{% endblock content %}
